<input type="checkbox" id="toggle" />

<nav>
  <label class="navbar-toggler" for="toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </label>

  <ul class="nav-list">
    <li class="nav-item">
      <a class="nav-link" href="#about">About me</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#projects">Projects</a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://github.com/InnaIazovskaia"
        target="_blank">GitHub</a
      >
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    line-height: 80px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: sticky;
    top: 0;
  }

  nav .nav-list {
    display: flex;
  }

  nav .nav-list .nav-item {
    cursor: pointer;
    height: 100%;
    padding: 0 30px;
    transition: 0.4s;
  }

  nav .nav-list .nav-item .nav-link:hover {
    font-weight: bold;
  }

  nav .nav-list .nav-item .nav-link,
  nav .nav-list .nav-item .nav-link:visited {
    font-size: 1.5rem;
    font-weight: normal;
  }

  nav .nav-list .nav-link {
    font-size: 18px;
    font-weight: 500;
  }

  @media (max-width: 935px) {
    nav {
      padding: 0 2rem;
    }

    nav .nav-list .nav-item {
      padding: 0 20px;
    }
  }

  @media (max-width: 750px) {
    nav .nav-list {
      display: grid;
      position: absolute;
      overflow: hidden;
      width: 100%;
      top: 35px;
      left: 0;
      transform: translateY(-100%);
      z-index: -1;
      transition: 0.6s;
      background-color: #fff;
    }

    nav .nav-list .nav-item {
      padding-left: 35px;
    }

    nav .navbar-toggler {
      display: grid !important;
    }
  }

  nav .navbar-toggler {
    display: none;
    height: min-content;
    margin: 18px -10px 0 0;
    cursor: pointer;
  }

  nav .navbar-toggler .bar {
    width: 40px;
    height: 3px;
    margin-bottom: 10px;
    background: #000;
    border-radius: 10%;
    transition: 0.4s;
  }

  input {
    display: none;
  }

  input:checked ~ nav .nav-list {
    transform: translateY(0);
  }

  input:checked ~ nav .navbar-toggler {
    margin-top: 35px;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(2) {
    display: none;
  }

  input:checked ~ nav .navbar-toggler .bar:nth-child(3) {
    transform: rotate(-45deg);
  }
</style>
