---
import ThematicSectionLayout from "../ThematicSectionLayout/ThematicSectionLayout.astro";
---

<ThematicSectionLayout id="about" title="About me" className="background-blue">
  <p class="about">
    As a full-stack web developer, I can handle all aspects of web development,
    including server-side programming, database management, and front-end
    development. I have experience working with <span>Node.js</span> and web framework
    <span>Express</span>. I have a strong understanding of <span>HTML</span>,
    <span>CSS</span>, <span>JavaScript</span> and <span>TypeScript</span>, and I
    stay up-to-date on the latest trends and best practices in web development.
    I'm skilled in a variety of frameworks and libraries such as <span
      >React</span
    >, <span>Astro</span>, <span>React Native</span> and <span>Vue</span>, and I
    use all my knowledge to create seamless user experiences.
  </p>
  <p class="about">
    In addition to my technical skills, I also have excellent communication and
    collaboration skills. I understand the importance of working closely with
    clients and stakeholders to identify their requirements and deliver web
    applications that meet their needs. I'm always happy to take on a new
    challenge and work with teams to bring their ideas to life.
  </p>
  <p class="about">
    I also take pride in writing clean, efficient, and maintainable code that is
    easy to understand and modify. I'm a firm believer in the importance of
    testing and debugging, and I use tools like <span>Jest</span>, <span
      >Vitest</span
    > and <span>Cypress</span> to ensure that my code is robust and error-free.
  </p>
</ThematicSectionLayout>

<style>
  .background-blue {
    background-color: var(--background-color);
  }

  .about {
    margin-top: 25px;
    text-align: justify;
  }

  span {
    font-weight: bold;
    text-decoration: underline;
  }
</style>
